{% extends '@EasyAdmin/page/content.html.twig' %}
{#{% block main %}{% endblock main %}#}
{% block page_content %}
    {% if showUserCounter %}
        {{ include('/admin/widgets/userCounter.html.twig') }}
    {% endif %}
{% endblock page_content %}

{% block body_javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('tailwind') }}
{% endblock %}
