<div
        class="flex flex-row items-center box-border h-32 w-2/5 p-3 rounded-2xl border-2 border-purple-500 bg-yellow-400"
        data-controller="userCounter"
        data-userCounter-url-value="{{ path('admin_util_users_count') }}"
        data-userCounter-refresh-interval-value="5000"
>
    <i class="text-white text-7xl fas fa-users"></i>
    <span class="text-white text-xl font-bold px-3.5">Зарегистрировано пользоватлей</span>
    <span class="text-white text-xl font-bold px-3.5" data-userCounter-target="counter"></span>
</div>
